fastapi
uvicorn
dotenv
python-multipart
PyPDF2
requests
pypdf
pymupdf
minio
openai
llama-index-core
asyncpg
tabulate
lxml 
html5lib
colorlog
pandas

# pytest
pytest
pytest-asyncio 
aiosqlite 
greenlet